# ==============================================================================
# HƯỚNG DẪN CẤU HÌNH BIẾN MÔI TRƯỜNG DỰ ÁN (VERCEL / HOSTING)
# ==============================================================================

# 1. URL DỰ ÁN SUPABASE CỦA TRƯỜNG
VITE_SUPABASE_URL=https://oewgdrbxbpgbcnnjqthh.supabase.co

# 2. KHÓA PUBLIC ANON KEY SUPABASE
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ld2dkcmJ4YnBnYmNubmpxdGhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxMTgzMzAsImV4cCI6MjEwMzY5NDMzMH0.bxMfV0AWIEmrswSZSud5I92WI0JsAGhd7HYde704VbQ
